// $family: "Poppins-Regular";
@mixin fontFace($family, $src, $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    src: url("#{$src}.eot"); // IE9 compat
    src: url("#{$src}.eot?#iefix") format("embedded-opentype"),
      // IE8 and below
      url("#{$src}.woff") format("woff"),
      // standards
      url("#{$src}.ttf") format("truetype"),
      // Safari, Android, iOS
      url("#{$src}.svg##{$family}") format("svg"); // legacy iOS
    font-style: $style;
    font-weight: $weight;
  }
}

@include fontFace("Poppins-Bold", "../fonts/Poppins-Bold");
@include fontFace("Poppins-Medium", "../fonts/Poppins-Medium");
@include fontFace("Poppins-Regular", "../fonts/Poppins-Regular");
@include fontFace("Tajawal-Bold", "../fonts/Tajawal-Bold");
@include fontFace("Tajawal-Regular", "../fonts/Tajawal-Regular");

body {
  font-family: "Poppins-Regular";
}

@mixin border-top-left-radius($value) {
  -webkit-border-top-left-radius: $value;
  -moz-border-top-left-radius: $value;
  -ms-border-top-left-radius: $value;
  border-top-left-radius: $value;
}

@mixin border-top-right-radius($value) {
  -webkit-border-top-right-radius: $value;
  -moz-border-top-right-radius: $value;
  -ms-border-top-right-radius: $value;
  border-top-right-radius: $value;
}

@mixin border-bottom-left-radius($value) {
  -webkit-border-bottom-left-radius: $value;
  -moz-border-bottom-left-radius: $value;
  -ms-border-bottom-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin border-bottom-right-radius($value) {
  -webkit-border-bottom-right-radius: $value;
  -moz-border-bottom-right-radius: $value;
  -ms-border-bottom-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  border-radius: $value;
}
